/*CSS reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	/*background-image: linear-gradient (red, green);*/
	/*background-image: linear-gradient (to right, blue, white);*/
	background-image: linear-gradient(rgba(0,0,75,0.4),rgba(0,0,75,0.4)), url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

/*targets the element with the class name container*/
.container {
	width: 500px;
	margin: 0 auto; /*centers the element horizontally*/
	text-align: center;

}

/*end container*/

/*targets the html element h1*/
h1 {
	color: #99ccff; /*this changes the font color of the h1 element*/
	background-color: #333333; /*off black*/
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 4.5px;
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 7.5px;
	border-style: solid;
	border-color: green;
	border-width: 3.5px;
	font-family: 'Open Sans Condensed', sans-serif;
	
}
/*end of h1 styling*/

/*start of h2 styling*/
h2 {
	color: yellow;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	background-color: #333;
	margin-bottom: 8.5px;
	padding: 10px;
	border-radius: 15px;
	border-style: solid;
	border-color: green;
	border-width: 3.5px;
	font-family: 'Cinzel', serif;
	
}
/*end of h2 styling*/

/*targets the html element with the class attribute bio*/
.bio {
	color: white;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 3px;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: rgba(0,0,100, 0.5);
}
/*end of bio*/

/*targets the html attribute id with the value of me*/
#me {
	height: 225px;
	width: 225px;
	border-radius: 50%;
	border-width: 3.5px;
	border-color: skyblue;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of me*/

